body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: blanchedalmond;
}

h1 {
  text-align: center;
  margin: 0;
}

#arena {
  width: 700px;
  height: 500px;
  border: 1px solid saddlebrown;
}

.sword {
  height: 100px;
  width: 5px;
  background: blue;
  position: absolute;
  transition: transform 0.1s ease;
  transform-origin: bottom center;
}

.sword.enemy {
  background: orange;
}
