body {
  font-family: Georgia, serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: blanchedalmond;
  line-height: 1.5;
}

main {
  display: flex;
  text-align: right;
  gap: 50px;
}

span {
  font-weight: 700;
}

ul {
  text-align: left;
}

li {
  margin-bottom: 12px;
}

h1 {
  text-align: center;
  margin: 0;
  font-family: fantasy;
}

h3 {
  margin: 0;
}

button {
  background: blanchedalmond;
  padding: 10px 20px;
  font-family: Georgia, serif;
}

#arena {
  width: 700px;
  height: 500px;
  border: 1px solid saddlebrown;
}

#canvas {
  border: 1px solid saddlebrown;
}

#info {
  background: blanchedalmond;
  border: 1px solid saddlebrown;
  display: flex;
  justify-content: center;
  max-width: 700px;
  position: fixed;
  text-align: center;
}

#scoreBoard {
  width: 300px;
  height: 300px;
  border: 1px solid saddlebrown;
  display: flex;
  justify-content: center;
  align-items: center;
}

#enemy-info {
  border-left: 1px solid saddlebrown;
}

#start-info,
#enemy-info,
#round-info {
  padding: 30px;
  width: 50%;
}
